body {
	background: url('../images/bg.jpg') no-repeat center center fixed;
}

body > .grid {
	height: 100%;
}


/* Error message */
.ui.message {
	text-align: left;
}

.ui.message .header {
	font-size: 1em !important;
}

.ui.message p {
	font-size: 0.9em !important;
}

.column {
	max-width: 450px;
}


/* Custom usage form */
#customCheckboxContainer {
	margin-bottom: 1em;
}

#customCheckboxContainer label {
	cursor: pointer;
}

#customContainer {
	display: none;
	text-align: left;
}

#gasTypeDropdown {
	width: 100%;
	margin-bottom: 0.5em;
}

#usageInput {
	width: 48%;
}

#emissionInput {
	float: right;
	width: 48%;
}