body {
	background: url('../images/bg.jpg') no-repeat center center fixed;
}

body > .grid {
	height: 100%;
}

.ui.message {
	text-align: left;
}

.ui.message .header {
	font-size: 1em !important;
}

.ui.message p {
	font-size: 0.9em !important;
}

.column {
	max-width: 450px;
}

#licensePlateError {
	display: none;
}

#customCheckboxContainer {
	margin-bottom: 1em;
}

#customCheckboxContainer label {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#customContainer {
	display: none;
	text-align: left;
}

#gasTypeDropdown {
	width: 100%;
	margin-bottom: 0.5em;
}

#usageInput {
	width: 48%;
}

#emissionInput {
	float: right;
	width: 48%;
}