body {
	background-color: #FFFFFF;
}


/* Loading screen */
#loadOverlay {
	display: table;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	background-color: #fff;
	z-index: 99;
	text-align: center;
}

#loadOverlay #loadContainer {
	display: table-cell;
	min-height: 1em;
	vertical-align: middle;
}

#loadOverlay span {
	display: block;
}

#loadOverlay #loadTitle {
	font-weight: bold;
	font-size: 4em;
	line-height: 1.5em;
}

#loadOverlay #loadText {
	font-size: 2em;
	line-height: 2em;
}


/* Page content */
.ui.center {
	text-align: center;
}

.ui.top {
	margin-top: 2em;
}

h3 .fa {
	margin-right: 5px;
}


/* Accordion */
.ui.accordion {
	margin-bottom: 1em;
}

.ui.accordion .title {	
	/* Prevent user from selecting accordion title when (s)he clicks it. */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;	
}

.ui.styled {
	border-radius: 0 !important;
	width: 100% !important;
}


/* "Kosten" tab */
#gasPrices {
	margin-top: 1em;
}

#cheapestStation .header {
	margin-top: 0.5em;
}

#cheapestStation .content {
	padding: .5em 1em;
}


/* "Route" tab */
#mapContainer {
	width: 100%;
}

#routeMap, #gasMap {
	height: 400px;
}

#legend {
	margin: 0.2em auto 0 auto;
}

#legend .item {
	display: inline-block;
	margin-right: 0.75em;
}

#legend .item.header {
	font-weight: bold;
}

#legend .item.car {
	color: #ef8a62;
}

#legend .item.train {
	color: #3090C7;
}

#dirButtons, #parkingButtonContainer {
	text-align: center;
}

#parkingButtonContainer {
	margin-top: 1em;
}

#dirButtons .ui.steps {
	text-align: left;
}

#dirButtons .ui.steps:nth-child(1), #dirButtons .ui.steps:nth-child(1) .active.step {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

#dirButtons .ui.steps:nth-child(2), #dirButtons .ui.steps:nth-child(2) .active.step {
	border-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}


/* "Milieu (reis)" tab */
.content h3 {
	display: inline-block;
}

.asterisk {
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
}

.treeVisualization {
	margin-top: 10px;
}

.dropdownContent {
	padding: 0 0 0 0.5em !important;
	font-weight: normal;
}

.treeContainer {
	display: inline-block;
	width: 30px;
	overflow: hidden;
}

.treeContainer img {
	width: 30px;
}

.warning.message {
	font-size: 0.8em;
}


/* "Milieu (algemeen)" tab */
#regionVisualizations h3 {
	margin: 0;
}